body {
    background-color: aquamarine;
    overflow-x: hidden;
}

.pin h1 {
    color: crimson;
    position: relative;
    text-align: center;
    font-size: 70px;
    top: -30px;
}

.pin .textpin h2 {
    color: crimson;
    font-size: 50px;
    float: right;
    position:relative;
    right: 200px;
    top: -50px;
}

.pin .textpin p {
    display: block;
    width: 500px;
    float: right;
    position: relative;
    right: 80px;
    left: 300px;
    top: 50px;
    font-size: 25px;
}

.pin .imagepin img {
    float: left;
    position: relative;
    left: 200px;
    top: -450px;
}